#### 1) Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [1]:
import pandas as pd

In [2]:
html_tables = pd.read_html('https://www.genealogybranches.com/censuscosts.html')

#### 2) Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [3]:
# count the number of tables from the link
print(len(html_tables))

2

In [4]:
# display first table 
print(html_tables[0])

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [5]:
# read second table
print(html_tables[1])

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [6]:
df = html_tables[0]

#### 3) Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [7]:
print(df)

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

#### 4) Document the data quality issues using a Markdown cell so the reader understands what the problems are.

- **Headers**
    - Set the first line of table as the header of the table
- **Year Column**
    - The last value has "*" character
- **Census Cost Column**
    - Column has "\$" and "," characters that need to be removed. 
    - Some values have "Billion" after the numerical value that needs to be converted to integer. 
- **Average Cost Per Person Column**
    - Some rows have "cents" and "$" characters that need to be removed. 
    - All values to be converted to dollars so it is easily analyzed.

In [8]:
# set row 1 as the headers
df.columns = df.iloc[0]

# drop the first row 
df = df.drop(df.index[0])

print(df)

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

#### 5) Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [9]:
# remove * character from the data
def cleanse_year(old_year):
    new_year = int(old_year.replace('*',''))
    return new_year

In [10]:
# test cleanse_year function

#cleanse_year('20******10')
cleanse_year('1989*')

1989

#### 6) Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [11]:
# apply census_year function to 'Census Year' column
census_years = df['Census Year'].apply(cleanse_year)

print(census_years)

1     1790
2     1800
3     1810
4     1820
5     1830
6     1840
7     1850
8     1860
9     1870
10    1880
11    1890
12    1900
13    1910
14    1920
15    1930
16    1940
17    1950
18    1960
19    1970
20    1980
21    1990
22    2000
23    2010
Name: Census Year, dtype: int64

#### 7) Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [12]:
# Total Population column does not have any data errors. 
census_pop = df['Total Population']

print(census_pop)

1       3929214
2       5308483
3       7239881
4       9633822
5      12866020
6      17069458
7      23191876
8      31443321
9      38558371
10     50155783
11     62979766
12     76303387
13     91972266
14    105710620
15    122775046
16    131669275
17    151325798
18    179323175
19    203302031
20    226542199
21    248718301
22    281421906
23    308745538
Name: Total Population, dtype: object

In [13]:
# remove '$', commas and 'Billion' from the data; convert data in numerical values
def cleanse_cost(old_cost):
    new_cost = old_cost.replace("$","").replace(",","").replace(' Billion', '')
    if '4.5' in old_cost: 
        new_cost = '4500000'
    elif '13' in old_cost:
        new_cost = '13000000000'
    return new_cost

In [14]:
# test cleanse_cost function

cleanse_cost('$2,000,000 Billion')

'2000000'

In [15]:
# apply census_costs function to 'Census Cost' column
census_costs = df['Census Cost'].apply(cleanse_cost)

print(census_costs)

1           44377
2           66109
3          178445
4          208526
5          378545
6          833371
7         1423351
8         1969377
9         3421198
10        5790678
11       11547127
12       11854000
13       15968000
14       25117000
15       40156000
16       67527000
17       91462000
18      127934000
19      247653000
20     1078488000
21     2492830000
22        4500000
23    13000000000
Name: Census Cost, dtype: object

In [16]:
# remove 'cent' and '$' from the data; convert numbers so that data is all in dollars. 
def cleanse_avg(old_avg):
    if 'cent' in old_avg:
        new_avg = float(old_avg.replace(' cents', ''))/100
    elif '$' in old_avg:
        new_avg = old_avg.replace('$','')
    else:
        new_avg = old_avg
    return new_avg

In [17]:
# test cleanse_avg function

#cleanse_avg('3 cents')
cleanse_avg('$3.66')

'3.66'

In [18]:
# apply census_avg function to 'Average Cost Per Person' column
census_avgs = df['Average Cost Per Person'].apply(cleanse_avg)

print(census_avgs)

1     0.0113
2     0.0124
3     0.0246
4     0.0216
5     0.0294
6     0.0488
7     0.0614
8     0.0626
9     0.0887
10    0.1154
11    0.1833
12    0.1554
13    0.1707
14    0.2376
15    0.3271
16    0.5129
17    0.6044
18    0.7134
19      1.22
20      4.76
21     10.02
22     15.99
23     42.11
Name: Average Cost Per Person, dtype: object

#### 8) After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [19]:
output = {'Census Year': census_years, 'Total Population': census_pop, 'Census Cost': census_costs, 'Average Cost Per Person': census_avgs}

output_df = pd.DataFrame(output)

output_df.to_csv('census_cost_cleansed.csv', index = False)

#### 9) Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [20]:
pd.read_csv('census_cost_cleansed.csv')

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906      4500000                  15.9900
22         2010         308745538  13000000000                  42.1100