# Assignment 4 

1. Write code to open the text file census_cost.txt and read all lines into a list named **"line_list"**. Print line_list.

In [47]:
import os

base_path = "C:\\Users\\HaChoi\\Documents\\Admin\\School\\Classes\\DATA690"
filename = "census_cost.txt"
path_to_file = os.path.join(base_path, filename)

with open(path_to_file, "tr") as data:
    data = data.readlines()

line_list = [] 
for row in data:
    remove_chars = row.replace("\t", ", ").replace("\n", "")
    line_list.append(remove_chars)

for i in line_list:
    print(i)

Source: https://www.genealogybranches.com/censuscosts.html
Census Year, Total Population, Census Cost, Average Cost Per Person
1790, 3,929,214, $44,377, 1.13 cents
1800, 5,308,483, $66,109, 1.24 cents
1810, 7,239,881, $178,445, 2.46 cents
1820, 9,633,822, $208,526, 2.16 cents
1830, 12,866,020, $378,545, 2.94 cents
1840, 17,069,458, $833,371, 4.88 cents
1850, 23,191,876, $1,423,351, 6.14 cents
1860, 31,443,321, $1,969,377, 6.26 cents
1870, 38,558,371, $3,421,198, 8.87 cents
1880, 50,155,783, $5,790,678, 11.54 cents
1890, 62,979,766, $11,547,127, 18.33 cents
1900, 76,303,387, $11,854,000, 15.54 cents
1910, 91,972,266, $15,968,000, 17.07 cents
1920, 105,710,620, $25,117,000, 23.76 cents
1930, 122,775,046, $40,156,000, 32.71 cents
1940, 131,669,275, $67,527,000, 51.29 cents
1950, 151,325,798, $91,462,000, 60.44 cents
1960, 179,323,175, $127,934,000, 71.34 cents
1970, 203,302,031, $247,653,000, $1.22
1980, 226,542,199, $1,078,488,000, $4.76
1990, 248,718,301, $2,492,830,000, $10.02
2000, 281,421,906, $4.5 Billion, $15.99
2010*, 308,745,538, $13 Billion, $42.11

2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [48]:
top2 = line_list[:2]
top2_list = []

for i in top2:
    headers = i.split(",")
    top2_list.append(headers)

top2_list

[['Source: https://www.genealogybranches.com/censuscosts.html'],
 ['Census Year',
  ' Total Population',
  ' Census Cost',
  ' Average Cost Per Person']]

3. Put the rest of the lines (containing useful data elements) in a new list named **"data_list"**. Print data_list.

In [49]:
data_list = line_list[2:]

for i in data_list:
    print(i)

1790, 3,929,214, $44,377, 1.13 cents
1800, 5,308,483, $66,109, 1.24 cents
1810, 7,239,881, $178,445, 2.46 cents
1820, 9,633,822, $208,526, 2.16 cents
1830, 12,866,020, $378,545, 2.94 cents
1840, 17,069,458, $833,371, 4.88 cents
1850, 23,191,876, $1,423,351, 6.14 cents
1860, 31,443,321, $1,969,377, 6.26 cents
1870, 38,558,371, $3,421,198, 8.87 cents
1880, 50,155,783, $5,790,678, 11.54 cents
1890, 62,979,766, $11,547,127, 18.33 cents
1900, 76,303,387, $11,854,000, 15.54 cents
1910, 91,972,266, $15,968,000, 17.07 cents
1920, 105,710,620, $25,117,000, 23.76 cents
1930, 122,775,046, $40,156,000, 32.71 cents
1940, 131,669,275, $67,527,000, 51.29 cents
1950, 151,325,798, $91,462,000, 60.44 cents
1960, 179,323,175, $127,934,000, 71.34 cents
1970, 203,302,031, $247,653,000, $1.22
1980, 226,542,199, $1,078,488,000, $4.76
1990, 248,718,301, $2,492,830,000, $10.02
2000, 281,421,906, $4.5 Billion, $15.99
2010*, 308,745,538, $13 Billion, $42.11

4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the "*" from the last element "2010". Print the cleansed year_list.

In [51]:
year_list = []

for i in data_list:
    years = i.split()[0].replace("*","").replace(",","")
    year_list.append(years) 
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [52]:
pop_list = []

for i in data_list:
    pop = i.split()[1].replace(",","")
    pop_list.append(pop)

pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [53]:
cost_list = []

for i in data_list:
    cost = i.split()[2].replace("$","").replace(",","").replace('4.5','4500000').replace('13','13000000000')
    cost_list.append(cost)

cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000',
 '13000000000']

7. Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [54]:
pp_list = []
pp_list2 = []

for i in data_list:
    cost_pp1 = i.replace(" cents","")
    pp_list.append(cost_pp1)
    
for i in pp_list:
    cost_pp2 = i.split()[-1].replace("$","")
    pp_list2.append(cost_pp2)

pp_list2

['1.13',
 '1.24',
 '2.46',
 '2.16',
 '2.94',
 '4.88',
 '6.14',
 '6.26',
 '8.87',
 '11.54',
 '18.33',
 '15.54',
 '17.07',
 '23.76',
 '32.71',
 '51.29',
 '60.44',
 '71.34',
 '1.22',
 '4.76',
 '10.02',
 '15.99',
 '42.11']

In [55]:
avg_list = []

for i in pp_list2:
    if i in pp_list2[:-5]:
        dollars = round((float(i) / 100), 4)
    else:
        dollars = i
    avg_list.append(str(dollars))
    
avg_list

['0.0113',
 '0.0124',
 '0.0246',
 '0.0216',
 '0.0294',
 '0.0488',
 '0.0614',
 '0.0626',
 '0.0887',
 '0.1154',
 '0.1833',
 '0.1554',
 '0.1707',
 '0.2376',
 '0.3271',
 '0.5129',
 '0.6044',
 '0.7134',
 '1.22',
 '4.76',
 '10.02',
 '15.99',
 '42.11']

8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [56]:
clean = zip(year_list, pop_list, cost_list, avg_list)

clean_data = list(clean)

clean_data

[('1790', '3929214', '44377', '0.0113'),
 ('1800', '5308483', '66109', '0.0124'),
 ('1810', '7239881', '178445', '0.0246'),
 ('1820', '9633822', '208526', '0.0216'),
 ('1830', '12866020', '378545', '0.0294'),
 ('1840', '17069458', '833371', '0.0488'),
 ('1850', '23191876', '1423351', '0.0614'),
 ('1860', '31443321', '1969377', '0.0626'),
 ('1870', '38558371', '3421198', '0.0887'),
 ('1880', '50155783', '5790678', '0.1154'),
 ('1890', '62979766', '11547127', '0.1833'),
 ('1900', '76303387', '11854000', '0.1554'),
 ('1910', '91972266', '15968000', '0.1707'),
 ('1920', '105710620', '25117000', '0.2376'),
 ('1930', '122775046', '40156000', '0.3271'),
 ('1940', '131669275', '67527000', '0.5129'),
 ('1950', '151325798', '91462000', '0.6044'),
 ('1960', '179323175', '127934000', '0.7134'),
 ('1970', '203302031', '247653000', '1.22'),
 ('1980', '226542199', '1078488000', '4.76'),
 ('1990', '248718301', '2492830000', '10.02'),
 ('2000', '281421906', '4500000', '15.99'),
 ('2010', '308745538', '13000000000', '42.11')]

In [57]:
import csv 
output_file = "census_cost.csv"
path_to_output = os.path.join(base_path, output_file)

with open(path_to_output, 'w', newline ='') as output:  
    # creating a csv writer object  
    csvwriter = csv.writer(output)  
        
    # writing the fields  
    csvwriter.writerow(list(top2_list)[0])
    csvwriter.writerow(list(top2_list)[1])
        
    # writing the data rows  
    csvwriter.writerows(clean_data)